body{
    
    text-align: center;
}

fieldset{
    background-color: lightgray;
    border: 2px solid black;

    width: 30%;
}

input:hover{
    background-color: lightgrey;
}

form{
   padding-left: 40%;
   /* padding-right: 50%; */
  
}
textarea:hover{
    background-color: lightgray;
}
legend{
    color: green;
}



